html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: "Merriweather", serif; */

body {
  margin: 1rem;
  padding: 1rem;
  font-family: Merriweather, serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .75rem;
}

main img:first-child {
  width: 100%;
  padding-bottom: 1rem;
}

.container {
  text-align: left;
  color: #fff;
}

.img-text {
  margin-top: -10rem;
  padding-left: 1.5rem;
}

div h2 {
  margin-bottom: -1.5rem;
}

p {
  font-family: Merriweather, serif;
  font-size: 1.5rem;
  font-style: normal;
}

footer {
  margin-top: -1rem;
  padding: 0;
  align-self: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "box1 box2 box3";
}

footer h2:nth-child(1) {
  grid-area: box1;
}

footer h2:nth-child(2) {
  grid-area: box2;
}

footer h2:nth-child(3) {
  grid-area: box3;
}
